## Import required libraries

In [1]:
import pandas as pd
import numpy as np
from utils import Merge_Multiple_Files, Read_Multiple_Files

## Read datasets

In [2]:
directory = './ModelApplication/Output' 
dfs = Read_Multiple_Files(directory, '.txt')

## Drop duplicate columns

In [3]:
for i in range (1,4):
    dfs[i] = dfs[i].drop(columns=['Unnamed: 0', 'REACHCODE', 'TotDASqKM_y', 'StreamOrde_y'])

## Merging datasets

In [4]:
Bankfull_Meanflow_CONUS = Merge_Multiple_Files(dfs, 'COMID')
Bankfull_Meanflow_CONUS = Bankfull_Meanflow_CONUS.drop(columns=['Unnamed: 0'])
Bankfull_Meanflow_CONUS.rename(columns = {'TotDASqKM_y':'TotDASqKM', 'StreamOrde_y':'StreamOrde'}, inplace = True)

## Export final dataset

In [5]:
Bankfull_Meanflow_CONUS.to_csv('./ModelApplication/Output/Bankfull_Meanflow_CONUS.txt')

## Final dataset statistic description

In [6]:
Bankfull_Meanflow_CONUS.loc[:, ['TotDASqKM','StreamOrde','bnk_depth','bnk_width','mf_depth','mf_width']].describe().applymap(lambda x: f"{x:0.2f}")

        TotDASqKM  StreamOrde   bnk_depth   bnk_width    mf_depth    mf_width
count  2642259.00  2642259.00  2642259.00  2642259.00  2642259.00  2642259.00
mean      3992.41        2.05        1.46       27.22        1.19       27.94
std      66421.62        1.45        0.72       31.25        0.59       33.83
min          0.00        1.00        0.66        5.96        0.32        0.00
25%          2.44        1.00        1.04       17.03        0.91       13.50
50%          7.73        1.00        1.27       21.48        1.07       23.13
75%         48.96        3.00        1.65       27.47        1.33       33.64
max    3133386.89       10.00       18.01     1039.44       24.21     1118.94